$('.answer-errors').html('');

<%- if @answer.persisted? %>
  <% if remotipart_submitted? %>
    $('.answers').append("<%= j "#{render @answer }" %>");
    $('.new_answer').html("<%= j "#{render 'form', question: @answer.question, answer: Answer.new}" %>");
  <% else %>
    $('.answers').append('<%= j render @answer %>');
    $('.new_answer').html('<%= j render 'form', question: @answer.question, answer: Answer.new %>');
  <% end %>
<%- else %>
  <% @answer.errors.each do |attr, message| %>
    $('.answer-errors').html('<p class="alert alert-danger"><%= j message %></p>');
  <% end %>
<%- end %>
