<a class="margin-right vote-for-answer" data-type="json" data-id="<%= votable.id %>"
data-question-id="<%= votable.question %>"
href="/questions/<%= votable.question %>/answers/<%= votable.id %>/vote_for">За ответ</a>

<a class="vote-against-answer" data-type="json" data-id="<%= votable.id %>"
data-question-id="<%= votable.question %>"
href="/questions/<%= votable.question %>/answers/<%= votable.id %>/vote_against">Против ответа</a>
